* {
    padding: 0;
    margin: 0;
}
body {
    background-color: lightblue;
    color: DarkGreen ;
}
#val {
    width: 90%;
    margin:  0 auto;;   
  /*  border: 2px black solid; */
    padding: 24px;
}
header,nav,section,footer {
    width:45%;
    float: center;
    padding: 10px 1%;   
    margin:  0 auto;
    background-color:DodgerBlue;
}
nav {
    height: 10px;
}
header,nav,footer{
    text-align: center;
}
h1,h2 {
    font-size: 15px;
}

section{
    width:45%;
    float:center;
    margin-top:1;
    border: 1px solid blue;
}
    
footer{ 
    clear:both; border: 3px double #DA70D6;
}
table {
    text-align: center;
    width: 100%; 
    height:  45%;
    background: MediumAquamarine;
    padding: 6px;
    border-spacing: 0.5px;
    border-collapse: separate;
}
tr {
    border: green 1px solid;
}
td {
    border: orange 1px solid;
}
img{
    width: 45%;
    height: 88px;
}

    